.background {
    background: linear-gradient(135deg, rgb(0, 200, 250) 10%, rgb(0, 100, 200) 90%);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    display: block;
    margin: auto;
    margin-top: calc(50vh - 300px);
    width: 400px;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 5px 5px 0px rgb(220, 220, 220); */
    text-align: center;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.1;
    padding-top: 45px;
    margin-left: 2vw;
    margin-right: 2vw;
    color: rgb(0, 100, 200);
}

.inputZone {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 300px;
    height: 45px;
    border: transparent;
    border-bottom: 2px solid rgb(0, 100, 200);
    color: rgb(0, 100, 200);
}

.inputZone:focus {
    outline: none;
}

.inputZone::placeholder {
    font-size: 1.2rem;
    color: rgb(180, 180, 180);
}

.blueButton {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 300px;
    height: 50px;
    border: transparent;
    border-radius: 25px;
    background-color: rgb(0, 100, 200);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
}

.blueButton:hover {
    background-color: rgb(0, 200, 250);
    transition: 0.3s;
}

.errorMessage {
    margin-bottom: 10px;
    height: 30px;
    font-weight: 1000;
    color: rgb(250, 100, 100);
}

.toggleButton {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    margin: 0px auto;
    color: rgb(0, 200, 250);
    cursor: pointer;
    transition: 0.3s;
}

.toggleButton:hover {
    color: rgb(0, 100, 200);
    transition: 0.3s;
}

.toggleButtonBeside {
    font-size: 1.6rem;
    color: rgb(180, 180, 180);
}

.socialLoginComment {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 230px;
    margin: 0px auto;
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: rgb(0, 200, 250);
    border-bottom: 1px solid rgb(180, 180, 180);
}

.googleButton {
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 45px;
    padding: auto;
    border: transparent;
    border-radius: 30px;
    background-color: rgb(230, 230, 230);
    color: rgb(50, 50, 50);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.googleButton:hover {
    background-color: rgba(230, 230, 230, 0.8);
    transition: 0.3s;
}

.facebookButton {
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 45px;
    border: transparent;
    border-radius: 30px;
    background-color: rgb(25, 119, 243);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.facebookButton:hover {
    background-color: rgba(25, 119, 243, 0.8);
    transition: 0.3s;
}

.twitterButton {
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 45px;
    border: transparent;
    border-radius: 30px;
    background-color: rgb(29, 155, 240);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialLoginIcon {
    height: 24px;
    margin-right: 15px;
}